<!DOCTYPE html>
<html>
<head>
  <title>Dashboard UAS</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
  <h1>Dashboard Dinamis Mahasiswa</h1>

  <h3>Jumlah Mahasiswa per Program Studi</h3>
  <svg id="chart1" width="600" height="400"></svg>
  
  <h3>Grafik Line</h3>
<svg id="chart2" width="600" height="400"></svg>

<h3>Grafik Pie</h3>
<svg id="chart3" width="600" height="400"></svg>

<h3>Grafik Donut</h3>
<svg id="chart4" width="600" height="400"></svg>

<h3>Horizontal Bar</h3>
<svg id="chart5" width="600" height="400"></svg>

<h3>Bar Chart Kedua</h3>
<svg id="chart6" width="600" height="400"></svg>


  <script src="/js/chart.js"></script>
</body>
</html>
